@media screen and (max-width: 995px) {
    #restaurant-list {
        overflow-y: auto;
        overflow-x: hidden;
        width: 50%;
    }

    #filters {
        overflow-y: auto;
        overflow-x: hidden;
        width: 50%;
        height: 125px;
    }

    #restaurant-list::-webkit-scrollbar-track, #filters::-webkit-scrollbar-track,
    {
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
        background-color: #F5F5F5;
    }

    #restaurant-list::-webkit-scrollbar, #filters::-webkit-scrollbar
    {
        width: 6px;
        background-color: #F5F5F5;
    }

    #restaurant-list::-webkit-scrollbar-thumb, #filters::-webkit-scrollbar-thumb
    {
        background-color: #000000;
    }

    .infowindow {
        width: auto;
    }
}
