html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }

.bg {
    background: white;
    height: 100%;
    font-family: 'Roboto Condensed', sans-serif;
    color: #e60000;
}

#map {
    height: 90%;
    width: 100%;
    padding-bottom: 10px;
}

#menu-icon {
    width: 35px;
    position: relative;
    top: -71px;
    margin-bottom: -75px;
}

.main-container {
    text-align: center;
}

.main-title {
    display: inline-block;
    padding: 0px 10px;
    margin: 15px auto 0px auto;
    background-color: #e6e6e6;
    border: 5px solid #e60000;
    border-radius: 10px;
}

.navbar {
    height: auto;
    text-align: left;
    padding-bottom: 15px;
}

.navbar h2 {
    text-align: center;
}

.navbar h3 {
    text-align: left;
    color: #ff1a1a;
}

#filters {
    color: black;
}

#restaurant-list {
    width: 100%;
    height: 125px;
}

#ind-restaurant {
    color: black;
    font-size: 18px;
}

#ind-restaurant:hover {
    color: #e60000;
}

#ind-restaurant, #ind-restaurant:hover, #ind-restaurant:active, #ind-restaurant:visited, #ind-restaurant:focus {
    text-decoration: none;
}

.infowindow {
    color: black;
    width: 250px;
}

.infotitle {
    text-align: center;
    color: #e6e6e6;
    background-color: #00284d;
    border: 5px solid #e60000;
    border-radius: 10px;
    padding: 10px 0px;
}

.infored {
    color: #e60000;
    text-align: center;
    font-weight: bold;
    padding-bottom: 5px;
}

.infodescription {
    margin: 0px 10px;
}

.infoaddress {
    text-align: center;
}

.infocategory {
    text-align: center;
}
